body {
  background-color: #212328;
  height: 100vh;
  font-family: 'Comfortaa', cursive;
}
body .content-wrapper {
  padding: 0;
  height: 100%;
  margin: 0;
  display: grid;
  flex-direction: column;
  color: #fff;
  background-image: url(../images/photo-features-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header {
  background-color: #00000075;
  height: 40px;
  align-items: center;
  display: flex;
}
.header a {
  font-family: 'Monoton', cursive;
  font-size: 30px;
}
.header a:hover {
  text-decoration: none;
}
.main-content {
  font-family: 'Audiowide', cursive;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  text-align: center;
}
.footer {
  align-self: end;
}
.footer .copyright-block {
  text-align: center;
  background-color: #00000075;
}
.footer .copyright-block p {
  margin: 0;
  padding: 5px;
  font-size: 12px;
}
